doctype html
html
  head
    title Nandhu Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul 
           div#logo
                img(src="/static/dancelogo.png",)
                | NDA  
           li #[a(href="/") Home] 
           
           li #[a(href="/") About] 
           
           li #[a(href="/contact") Contact Us]
           
           li #[a(href="/") Services]
    block content
    footer#footer 
        | Copyright © 2025 Dance Academy | All rights received..